header { grid-area: header; background-color: rgba(242, 240, 240, 1)}
main { grid-area: main;}
footer { grid-area: footer; background-color: rgba(242, 240, 240, 1)}


.app-container {
  display: grid;
  grid-template-areas: 
    "header"
    "main"
    "footer";
  grid-template-rows: 96px 1fr 52px;
  min-height: 100vh;
  background-color: #e7e7e7;
}