.game-bar {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
  background: #a61808;
  background: linear-gradient(0deg, rgba(166, 24, 8, 1) 0%, rgba(133, 15, 4, 1) 50%, rgba(242, 240, 240, 1) 100%);
}

.game-bar h2 {
  font-size: clamp(0.5rem, 4vw + 0.75rem, 2rem);
}

.game-elements-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
}

.game-elements-container p {
  font-size: clamp(0.5rem, 3vw + 0.5rem, 1.5rem);
}

.restart.button {
  width: 120px;
  height: 48px;
  font-size: 1rem;
  background-color: rgba(166, 24, 8, 1);
  color: rgba(242, 240, 240, 1);
  border: 3px solid black;
  border-radius: 10px;
  box-shadow: black 2px 2px 5px;
  outline: none;
}

.restart.button:hover,
.restart.button:focus {
  background-color: rgb(190, 24, 8);
  border: 5px solid black;
  transform: scale(1.05);
}

.restart.button:active {
  background-color: rgb(140, 24, 8);
  transform: translateY(5px);
}



.game-scores {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  color: rgba(242, 240, 240, 1);
}

.game-scores p:nth-child(1) {
  align-self: flex-start;
}

/* Pokemon Tray */
.pokemon-card-tray {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  background: #a61808;
  background: linear-gradient(180deg, rgba(166, 24, 8, 1) 0%, rgba(133, 15, 4, 1) 50%, rgba(242, 240, 240, 1) 100%);
  padding: 16px;
}

/* Pokemon Card */
.pokemon-card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 3px solid black;
  border-radius: 10px;
  background-color: rgb(2, 37, 37);
  color: #e0eff7;
  box-shadow: 2px 5px 5px black;
  padding: 8px;
  gap: 8px;
  cursor: pointer;
  transition: transform 0.5s, box-shadow 0.5s;
}

.pokemon-card-container:hover,
.pokemon-card-container:focus {
  transform: translateY(10px);
  outline: none;
  box-shadow: 0px -10px 40px black;
}

.pokemon-card-container img {
  background-color: lightskyblue;
  border-radius: 5px;
  width: 100%;
  height: auto;
  display: block;
  aspect-ratio: 1 / 1;
}

.pokemon-card-container p {
  display: flex;
  font-size: 1.3rem;
  align-items: center;
}

@media (min-width: 450px) {
  .pokemon-card-tray {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 736px) {
  .game-bar {
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
  }

  .pokemon-card-tray {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 1200px) {
  .pokemon-card-tray {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media (min-width: 1600px) {
  .pokemon-card-tray {
    grid-template-columns: repeat(8, 1fr);
  }

  /* push cards for symmetry */
  .pokemon-card-tray > div:nth-child(17) {
    grid-column: 3;
  }
}